.imgHover {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //cursor: pointer;
    //transform: scale(1.1);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.20), 0 8px 22px 0 rgba(0, 0, 0, 0.24);
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.hoverEffect {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .375rem;
    transition: .25s all;
    transform: scale(1.05);
}

.act_hov:hover {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .375rem;
    transition: .25s all;
    transform: scale(1.05);
}

.carousel-img {
    height: 75vh;
    width: 100%;
}