<footer class="page-footer font-small indigo">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-4 mb-3">
            <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold"><a href="#!">Home</a></h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold"><a href="#!">Our Products</a></h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold"><a href="#!">Contact us</a></h6>
            </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <!--<hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">-->
        <div class="row pt-3 mb-3">
            <div class="col-md-12">
                <div class="text-center mb-2 d-flex justify-content-center">
                    <a class="fb-ic">
                        <mdb-icon class="white-text mr-4 fab" fab=" " icon="facebook-f" size="lg"><i class="fa-facebook-f white-text mr-4 fa-lg fab"></i></mdb-icon>
                    </a>
                    <a class="li-ic">
                        <mdb-icon class="white-text mr-4 fab" fab=" " icon="linkedin-in" size="lg"><i class="fa-linkedin-in white-text mr-4 fa-lg fab"></i></mdb-icon>
                    </a>
                    <a class="ins-ic">
                        <mdb-icon class="white-text mr-4 fab" fab=" " icon="instagram" size="lg"><i class="fa-instagram white-text mr-4 fa-lg fab"></i></mdb-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Made with
        <mdb-icon fas icon="heart"></mdb-icon> by Bhargav Pandya</div>
</footer>